body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.body_busqueda {
    align-items: center;
    font-size: 1.1vw;
    margin: 0;
    row-gap: 2vw;
    column-gap: 2.5vw;
    display: grid;
    justify-items: center;
    grid-template-columns: auto 5vw 20vw 30vw;
    grid-template-areas:
        "tabla reiniciar cuadro texto"
        "tabla iniciar cuadro texto"
        "tabla explorados explorados explorados"
        "tabla nodo ruta ruta"
        "arbol arbol arbol arbol";
}

#campoTexto {
    grid-area: texto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#texto {
    background-color: #1d1d1d88;
    border-radius: 30px;
    padding: 10px;
    /* width: 100%; */
    text-align: center;
}

#campoCuadro {
    grid-area: cuadro;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cuadro {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(2,auto);
    text-align: center;
    padding: 10px;
    gap: 15px;
    border-radius: 10px;
}

#cuadro a {
    background-color: #b8b8b8;
    color: black;
    padding: 5px;
    border-radius: 20px;
    text-decoration: none;
    align-items: center;
    display: flex;
    justify-content: center;
}

#cuadro a:hover {
    background-color: white;
    color: black;
}

#cuadro .ccompletoooo {
    background-color: #3f3f3f;
    color: white;
}

#campoGrid {
    grid-area: tabla;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#grid {
    display: grid;
}

.cell {
    background-color: #eee;
    border: 1px solid #ccc;
    text-align: center;
    transition: background-color 0.3s ease;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.cell p {
    margin: 2px;
    font-size: 80%;
}

.start {
    background-color: green;
}

.goal {
    background-color: red;
}

.wall {
    background-color: black;
    color: white;
}

.open {
    background-color: lightgreen;
}

.closed {
    background-color: lightcoral;
}

.path {
    background-color: yellow;
}

#campoRuta {
    grid-area: ruta;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Ruta {
    color: white;
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
    gap: 10px;
}

#Ruta p {
    background-color: #1f1f72;
    padding: 10px;
    margin: 0;
    border-radius: 100%;
}

#campoExplorados {
    grid-area: explorados;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Explorados {
    color: white;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row-reverse; */
    gap: 10px;
}

#Explorados p {
    background-color: #290c57;
    padding: 10px;
    margin: 0;
    border-radius: 100%;
}

.tittle{
    color:white;
}

#campoNodo {
    grid-area: nodo;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Nodo {
    color: white;
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
    gap: 10px;
}

#Nodo p {
    background-color: #030336;
    padding: 10px;
    margin: 0;
    border-radius: 100%;
}

#campoFrontera {
    grid-area: arbol;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Frontera {
    color: white;
    justify-content: center;
    display: flex;
    flex-wrap: wrap; 
    gap: 10px; 
    /* max-width: 100%; */
    overflow-x: auto;
}

.table-column {
    display: grid;
    /* flex-direction: column; */
    grid-template-rows: 1.7fr 1fr 1fr;
    /* align-items: center; */
    border: 2px solid rgb(255, 255, 255); 
    background-color: #333; 
    padding: 2px;
    gap: 2px;
}

.table-cell {
    /* border: 1px solid rgb(255, 255, 255);  */
    padding: 5px;
    color: #333;
    background-color: white; 
    text-align: center;
    align-self: center;
    /* display: flex; */
    /* flex-direction: column; */
    /* border-bottom: 1px solid #444; */
}

.table-cell p {
    margin: 0;
    padding: 0;
}

#reiniciar {
    grid-area: reiniciar;
}

#iniciar {
    grid-area: iniciar;
}
