{% extends "maestra.html" %}

{% block titulo %} 
    Amplitud
{% endblock %}

{% block estilos %}
    <style>
        body {
            background-color: #1f3a21;
        }
    </style>
{% endblock %}

{% block texto %}
<div class="container">
    <h1>Búsqueda por Amplitud (BFS)</h1>
    <p>La Búsqueda por Amplitud (BFS) es un algoritmo que explora los nodos de un gráfico nivel por nivel. Comienza en el nodo raíz y visita todos sus vecinos antes de moverse a los nodos del siguiente nivel.</p>
    <p>Este algoritmo usa una cola (FIFO) para rastrear los nodos pendientes y es ideal para encontrar el camino más corto en gráficos no ponderados.</p>
    
</div>
{% endblock %}

{% block scripts %} 
    <script src="static/js/scriptAmplitud.js"></script>
{% endblock %}