{% extends "maestra.html" %}

{% block titulo %} 
    Amplitud
{% endblock %}

{% block estilos %}
    <style>
        body {
            background-color: #1f3a21;
        }
    </style>
{% endblock %}

{% block texto %}
    Explora todos los nodos en un nivel antes de pasar al siguiente,
    garantizando que se encuentre la solución más cercana al nodo inicial. 
    Utiliza una cola para mantener los nodos a explorar y es ideal para
    problemas donde las soluciones están distribuidas uniformemente.
    Sin embargo, puede consumir mucha memoria si el árbol de búsqueda es amplio y profundo.
{% endblock %}

{% block scripts %} 
    <script src="static/js/scriptAmplitud.js"></script>
{% endblock %}