<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Algoritmos de Busqueda</title>
    {% block estilos %}        
    {% endblock %}  
</head>
<body>
    <div class="body_busqueda">
        <div id="campoCuadro">
            <h4 class="tittle">OTROS ALGORITMOS</h4>
            <div id="cuadro">
                <a href="{{url_for('amplitud')}}">Amplitud</a>
                <a href="{{url_for('costoUniforme')}}">Costo Uniforme</a>
                <a href="{{url_for('profundidadLimitada')}}">Profundidad Limitada</a>
                <a class="ccompletoooo" href="{{url_for('mejorOpcion')}}">Mejor Opcion</a>
                <a href="{{url_for('aestrella')}}">A*</a>
                <a href="{{url_for('voraz')}}">Voraz</a>
            </div>
        </div>
        
        <div id="campoTexto">
            <h4 class="tittle">EXPLICACION</h4>
            <div id="texto">
                {% block texto %}        
                {% endblock %} 
            </div>
        </div>
    
        <div class="campoGrid" id="campoGrid">
            <h4 class="tittle">Búsqueda {% block titulo %}{% endblock %}</h4>
            <div class="grid" id="grid"></div>
        </div>
    
        <button id="iniciar">Empezar</button>
    
        <button id="reiniciar">Reiniciar</button>
    
        <div id="campoFrontera">
            <h4 class="tittle">FRONTERA</h4>
            <div id="Frontera"></div>
        </div>
            
        <div id="campoExplorados">
            <h4 class="tittle">Explorados</h4>
            <div id="Explorados"></div>
        </div>
    
        <div id="campoNodo">
            <h4 class="tittle">Nodo</h4>
            <div id="Nodo"></div>
        </div>
    
        <div id="campoRuta">
            <h4 class="tittle">Ruta</h4>
            <div id="Ruta"></div>
        </div>
    </div>    
    {% block scripts %}        
    {% endblock %}
</body>
</html>
