{% extends "maestra.html" %}

{% block titulo %} 
    Profundidad Limitada
{% endblock %}

{% block estilos %}
    <style>
        body {
            background-color: #202f30;
        }
    </style>
{% endblock %}

{% block texto %}
    Explora nodos en un gráfico siguiendo un enfoque de profundidad, 
    es decir, se adentra en cada rama del árbol hasta una profundidad 
    máxima predefinida. Si no encuentra la solución dentro de este límite, 
    retrocede y explora otras ramas. Este enfoque es útil para problemas 
    donde se conoce que la solución está a una cierta profundidad, 
    pero puede perder soluciones más profundas o entrar en bucles 
    si no se controla adecuadamente.
{% endblock %}


{% block scripts %} 
    <script src="static/js/scriptProfundidadLimitada.js"></script>
{% endblock %}