{% extends "maestra.html" %}

{% block titulo %} 
    Voraz
{% endblock %}

{% block estilos %}
    <style>
        body {
            background-color: #37143b;
        }
    </style>
{% endblock %}

{% block texto %}
    Toma decisiones basadas en la heurística para 
    seleccionar el siguiente nodo a explorar, eligiendo el que parece más prometedor 
    según su costo estimado hacia el objetivo. Aunque puede ser más rápida que otros algoritmos, 
    ya que explora menos nodos, no garantiza una solución óptima, porque puede ignorar rutas más 
    largas que conducen a una mejor solución.
{% endblock %}

{% block scripts %} 
    <script src="static/js/scriptVoraz.js"></script>
{% endblock %}